.home {
  background: $black;
  height: 100vh;
  width: 100vw;
}
.home__grid {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.home__divider {
   background-image: linear-gradient(top, white, white, white);
}

.home__title {
  color: $white;
  font-family: $title-font-family;
  font-size: .75em;
  text-align: center;
}

.home__mask {
  height: 350px;
  margin-top: 30px;
  width: 100%;
}

.home__mask__img{
  display: block;
  height: 100%;
  margin: auto;
}

.home__btn {
  font-family: $btn-txt-font-family;
  font-weight: 600;
  margin-top: 30px;
}

.home__btnTxt {
  background: none;
  border: 1px solid $white;
  color: $white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  outline: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
