@mixin labelBackgroundPage {
  .background-text {
    color: $background-text;
    font-family: $label-page-font-family;
    font-size: 220px;
    font-weight: bold;
    line-height: 1;
    margin-left: 10vw;
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
    user-select: none;
    width: 150px;
    word-break: break-all;
  }
}

@include labelBackgroundPage;
