@mixin Moon {
  .moon {
    @include MoonPosition;
    @include MoonGlobe;
    @include MoonTimeline;
    @include MoonCursor;
  }
}

@mixin MoonPosition {
  bottom: -15%;
  display: flex;
  height: $moon-size !important;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transform: translateY(-5%);
  width: $moon-size !important;
}



@mixin MoonGlobe {
  .rs-container {
    height: 100% !important;
    width: 100% !important;
  }
  .rs-bg-color {

  }
  .rs-path {
    background: transparent !important;
  }
  .rs-block {
    padding: 0!important;
    .rs-inner {
      height: $moon-globe-ratio;
      margin: 5% auto;
      width: $moon-globe-ratio;
      background:white;
      background-size: 100%;
    }
  }
}

@mixin MoonTimeline {
  .rs-seperator {
    border: 0;
  }
  .rs-border {
    border-color: $moon-color;
  }
  .rs-inner {
    &.rs-border {
      border: 0;
    }
  }
}

@mixin MoonCursor {
  .rs-handle {
    background-color:$moon-color;
    box-shadow:
    0 0 0 5px rgba(255, 255, 255, 1),
    0 0 0 10px  rgba(255, 255, 255, .45),
    0 0 0 15px rgba(255, 255, 255, .65);
    margin-left: -5px!important;

  }
}

@include Moon;
