@mixin Moon {
  .moon {
    @include MoonPosition;
    @include MoonGlobe;
    @include MoonTimeline;
    @include MoonCursor;
    @include MoonSteps;
  }
}

@mixin MoonPosition {
  bottom: -15%;
  display: flex;
  height: $moon-size !important;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  transform: translateY(-5%);
  width: $moon-size !important;
  z-index: 2;
}



@mixin MoonGlobe {
  .rs-container {
    height: 100% !important;
    width: 100% !important;
  }
  .rs-bg-color {

  }
  .rs-path {
    background: transparent !important;
  }
  .rs-block {
    padding: 0!important;
    .rs-inner {
      height: $moon-globe-ratio;
      margin: 5% auto;
      width: $moon-globe-ratio;
      background: url('../media/img/pink-moon.png') center center no-repeat;
      background-size: cover;
    }
  }
}

@mixin MoonTimeline {
  .rs-seperator {
    border: 0;
  }
  .rs-border {
    border-color: $moon-color;
    border-width: 2px;
  }
  .rs-inner {
    &.rs-border {
      border: 0;
    }
  }
}

@mixin MoonCursor {
  .rs-handle {
    background-color: $white;
    border-radius: 50%;
    box-shadow:
    0 0 0 5px rgba(255, 255, 255, 1),
    0 0 0 10px  rgba(255, 255, 255, .45),
    0 0 0 15px rgba(255, 255, 255, .65);
    margin-left: -4px!important;
  }
}

@mixin MoonSteps {
  li {
    background: red;
    border-radius: 50%;
    height: 20px;
    list-style: none;
    width: 20px;

    &:nth-of-type(1) {
      background: brown;
      left: 20.5%;
      position: absolute;
      top: 8%;
    }
    &:nth-of-type(2) {
      background: blue;
      left: 33.5%;
      position: absolute;
      top: 15px;
    }
    &:nth-of-type(3) {
      background: green;
      left: 43.5%;
      position: absolute;
      top: -6px;
    }
    &:nth-of-type(4) {
      background: yellow;
      position: absolute;
      right: 43.5%;
      top: -6px;
    }
    &:nth-of-type(5) {
      background: yellow;
      position: absolute;
      right: 33.5%;
      top: 15px;
    }
    &:nth-of-type(6) {
      background: brown;
      right: 20.5%;
      position: absolute;
      top: 8%;
    }
  }
}


@include Moon;
