@mixin page-commands {
  .page-commands {
    & > div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;

    }
    & > .previous {
      display: none;
      user-select: none;
      @include page-commands-previous;
    }
    & > .next {
      user-select: none;
      @include page-commands-next;
    }
    .bar {
      @include page-commands-bar;
    }
    .label {
      @include page-commands-label
    }
  }
}



@mixin page-commands-bar {
  background: $white;
  display: inline-block;
  height: 5px;
  min-width: 50px;
  width: 4vw;
}
@mixin page-commands-previous {
  left: 0;
  &:hover .label {
    transform: translateX(5px);
  }
}
@mixin page-commands-next {
  right: 0;
  &:hover .label {
    transform: translateX(-5px);
  }
}
@mixin page-commands-label {
  color: $white;
  display: inline-block;
  font-family: $content-font-family;
  font-size: 15px;
  font-weight: $fix-futura-book-weight;
  letter-spacing: .5px;
  margin: 0 5px;
  text-decoration: none;
  transition: transform .15s;
}


@include page-commands;
