.page-consequences {
  .flex {
    display: flex;
    position: relative;
    &.center {
      align-items: center;
      height: 100vh;
      justify-content: center;
    }
    .consequences {
      text-align: center;
      height:100%;
    }
  }
}

.consequences__grid {
  height: 100%;
  margin: auto;
  width: 60%;
}

.list__consequences {
  height: 100%;
  width: 100%;
  & li {
    font-family: $title-font-family;
    font-size: 26px;
    left: 20%;
    letter-spacing: 2px;
    margin-top: 25px;
    position: absolute;
  }

  & .position_1 {
    left: 2vw;
    top: 2vh;
  }

  & .position_2 {
    left: 28vw;
    top: 80vh;
  }

  & .position_3 {
    left: 35vw;
    top: 18vh;
  }

  & .position_4 {
    left: 5vw;
    top: 35vh;
  }

  & .position_5 {
    left: 24vw;
    top: 55vh;
  }

  & .position_6 {
    left: 81vw;
    top: 15vh;
  }

  & .position_7 {
    left: 0vw;
    top: 66vh;
  }
}
