.page-consequences {
  .flex {
    display: flex;
    transform: translateY(-2vw);

    &.center {
      align-items: center;
      justify-content: center;
    }

    &.fullheight {
      height: 100vh;
    }

    &.large {
      width: 80vw;
    }

    .consequences {
      text-align: center;

      .consequences__line {
        background-color: $mauve;
        height: 1.5px;
        margin: auto;
        margin-bottom: 2.5vh;
        margin-top: 2.5vh;
        width: 70px;
      }

      .consequences__data {
        color: $body-dark-text-color;
        font-family: $status-font-family;
        font-size: 100px;
        user-select: none;
      }

      .consequences__title {
        font-family: $status-font-family;
        font-size: 18px;
        line-height: 1.3em;
        margin-top: -40px;
        position: relative;
        text-transform: uppercase;
      }

      .consequences__content {
        font-family: $content-font-family;
        font-size: 13px;
        font-weight: 100;
        line-height: 1.2em;
        text-transform: uppercase;
      }

      .consequences__center {
        width: 100%;
      }

      .consequences__left__top {
        width: 40%;
      }

      .consequences__right__top {
        width: 40%;
        margin-top: 5vh;
      }

      .consequences__left__bottom {
        margin-right: 5vw;
      }

      .consequences__right__bottom {
        margin-left: 5vw;
        margin-top: 5vh;
      }

      .consequences__graphic {
        margin-top: 12vh;
        width: 20%;

        .consequences__circle {
          border: 1px solid $mauve;
          border-radius: 50%;
          height: 110px;
          margin: auto;
          width: 110px;

          span {
            background-image: radial-gradient(50% 50%, $white 50%, $white 66%, $true-black 100%);
            border-radius: 50%;
            height: 10px;
            position: absolute;
            width: 10px;
          }

          span:nth-of-type(1) {
            margin-left: -5px;
            margin-top: -5px;
          }

          span:nth-of-type(2) {
            margin-left: -52px;
            margin-top: 80px;
          }

          span:nth-of-type(3) {
            margin-left: 42px;
            margin-top: 80px;
          }
        }
      }
    }
  }
}
