.page-dermatologue {
  .background-text {
    background: url('../media/img/label_xero.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.dermatologue__grid {
  align-items: center;
  margin: auto;
  min-width: 775px;
  position: relative;
  width: 55%;
}

.page-title {

  h1 {
    font-family: $status-font-family;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    top: 1em;
    &-illu {
      height: 72.5px;
      left: -12px;
      position: absolute;
      top: 2px;
    }
  }

  .dermatologue__content {
    margin-top: 15vh;
  }

  .dermatologue__txt__video {
    margin-top: 30px;
  }

  .dermatologue__title__txt {
    color: $white;
    font-family: $status-font-family;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .dermatologue__adn {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 7vw;
    top: -180px;
    transform: scale(.3) rotate(50deg);

  }
  &-illu {
    height: 72.5px;
    left: -12px;
    position: absolute;
    top:2px;
  }
}

.dermatologue__content {
  margin-top: 15vh;
}

.dermatologue__txt__video {
  margin-top: 30px;
}

.dermatologue__title__txt {
  color: $white;
  font-family: $status-font-family;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top:10px;
  text-transform: uppercase;
}

.dermatologue__adn {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 7vw;
  top: -180px;
  transform: scale(.3) rotate(50deg);

  .dna {
    display: flex;
    flex-direction: column;
  }

  .bar {
    align-items: center;
    animation: spin 5s infinite linear;
    background: $white;
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: space-between;
    margin: 40px 0;
    transform-style: preserve-3d;
    width: 500px;

    &::after, &::before {
      animation: spin 5s infinite linear reverse;
      background: $mauve;
      border-radius: 50%;
      content: '';
      display: block;
      height: 80px;
      margin: -40px;
      width: 80px;
    }

    &::after {
      background: $dark-purple;
    }

    &:nth-child(1), &:nth-child(1)::after, &:nth-child(1)::before {
      animation-delay: -0.357142857142857s;
    }

    &:nth-child(2), &:nth-child(2)::after, &:nth-child(2)::before {
      animation-delay: -0.714285714285714s;
    }

    &:nth-child(3), &:nth-child(3)::after, &:nth-child(3)::before {
      animation-delay: -1.071428571428571s;
    }

    &:nth-child(4), &:nth-child(4)::after, &:nth-child(4)::before {
      animation-delay: -1.428571428571429s;
    }

    &:nth-child(5), &:nth-child(5)::after, &:nth-child(5)::before {
      animation-delay: -1.785714285714286s;
    }

    &:nth-child(6), &:nth-child(6)::after, &:nth-child(6)::before {
      animation-delay: -2.142857142857143s;
    }

    &:nth-child(7), &:nth-child(7)::after, &:nth-child(7)::before {
      animation-delay: -2.5s;
    }

    &:nth-child(8), &:nth-child(8)::after, &:nth-child(8)::before {
      animation-delay: -2.857142857142857s;
    }
  }

  @keyframes spin {
    0% {
      transform: rotateY(0deg) translateZ(40px);
    }
    25% {
      transform: rotateY(90deg) translateZ(40px);
    }
    50% {
      transform: rotateY(180deg) translateZ(40px);
    }
    75% {
      transform: rotateY(270deg) translateZ(40px);
    }
    100% {
      transform: rotateY(360deg) translateZ(40px);
    }
  }
}

.filter__video {
  background: $mauve;
  height: 99%;
  opacity: .4;
  position: absolute;
  width: 100%;
}

.video__dermatologue {
  height: 220px;
}

.video__infos {
  margin-left: 40px;
  padding-top: 15px;
}
.dermatologue__txt {
  animation: fadeIn .25s ease-out .5s normal running 1 forwards;
  color: $white;
  font-family: $content-font-family;
  font-size: 15px;
  font-weight: $fix-futura-book-weight;
  letter-spacing: 1px;
  line-height: 18px;
  opacity: 0;
  padding-top: 30px;
  text-align: left;
  &.reveal {
    animation-play-state: running;
  }
}

.dermatologue__description {
  margin-top: 45px;
  position: relative;
  width: 70%;
}

.dermatologue__txt {
  color: $white;
  font-family: $content-font-family;
  font-size: 15px;
  font-weight: $fix-futura-book-weight;
  letter-spacing: 1px;
  line-height: 18px;
  padding-top: 30px;
  text-align: left;
}

.step__dermatologue {
  color: $white;
  margin-top: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  position: relative;
  z-index: 3;
}

.step {
  display: inline-block;
  opacity: .1;
  position: relative;
  transition: opacity .15s;
  vertical-align: top;
  width: 219px;
  &.reveal {
    opacity: 1;
  }
}
$target-size: 1em;

.step__triggers {
  box-sizing: border-box;
  display: flex;
  justify-content:  space-around;
  margin: 3vh auto;
  min-width: 775px;
  padding-left: 5%;
  padding-right: 5%;
  width: 60%;
}

.step__triggers .target.trigger {

  &:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #B61282;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }



  // background:yellow;
  border-radius: 50%;
  height: $target-size;
  position: relative;
  width: $target-size;
  z-index: 3;
}

.light {
  opacity: 1;
}

.dark {
  opacity: .1;
}

.step__title {
  color: $white;
  font-family: $content-font-family;
  font-size: 21px;
  letter-spacing: 2px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.small-divider {
  background: $mauve;
  height: 1px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 20%;
}

.big-divider {
  background: $mauve;
  height: 5px;
  margin-left: 6.5%;
  margin-top: 20px;
  transition: transform .3s ease-in-out;
  width: 25%;
}


.step-description {
  font-family: $content-font-family;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 16px;
  margin: auto;
  text-align: center;
  width: 70%;
}

.overlay {
  background-color: $true-black; // Black fallback
  background-color: $overlay; // Black w/opacity
  height: 100%;
  opacity: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: visibility .3s, opacity .3s linear;
  visibility: hidden;
  width: 100%;
  z-index: 3;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.popup {
  background-color: $white;
  border-radius: 25px;
  left: 50%;
  min-width: 600px;
  opacity: 0;
  padding: 35px;
  padding-bottom: 20px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: visibility .3s, opacity .3s linear;
  visibility: hidden;
  width: 40vw;
  z-index: 3;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .popup__title {
    color: $mauve;
    font-family: $status-font-family;
    font-size: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;

    &::before {
      background: linear-gradient(to right, $white, $mauve);
      border-radius: 25px;
      content: '';
      height: 2px;
      margin-left: -150px;
      margin-top: 10px;
      position: absolute;
      width: 118px;
    }

    &::after {
      background: linear-gradient(to right, $mauve, $white);
      border-radius: 25px;
      content: '';
      height: 2px;
      margin-left: 30px;
      margin-top: 10px;
      position: absolute;
      width: 118px;
    }
  }

  .popup__content {
    color: $true-black;
    font-family: $content-font-family;
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 3vh;
    margin-top: 3.5vh;
  }

  .popup__link {
    color: $grey;
    font-family: $title-font-family;
    font-size: 12px;

    img {
      margin-top: 1.5vh;
      width: 4vh;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}
