.page {
  background: $page-gradient;
  color: $white;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.page-content {
  margin: auto;
  width: 60%;
}

@import 'components/label-background-page';
@import 'components/page-commands';
