.page {
  background: $black;
  height: 100vh;
  width: 100vw;
  color:$white;
}

.page-content {
  width: 60%;
  margin:auto;
}

@import 'components/label-background-page';
@import 'components/page-commands';
