.sport__grid {
  align-items: center;
  margin: auto;
  position: relative;
  width: 60%;
}
.page-title {

  h1 {
    font-family: $status-font-family;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    top: 1em;


  }
  &-illu {
    height: 72.5px;
    left: -12px;
    position: absolute;
    top:2px;
  }
}

.sport__content {
  margin-top:60px;
}

.sport__txt__video {
  margin-top: 30px;
}

.sport__title__txt {
  color: $white;
  font-family: $status-font-family;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top:10px;
  text-transform: uppercase;
}

.sport__video__container {
  position: absolute;
  right: -60px;
  top: -9px;
}

.filter__video {
  background: $mauve;
  height: 99%;
  opacity: .4;
  position: absolute;
  width: 100%;
}

.video__sport {
  height: 220px;
}

.video__infos {
  margin-left: 40px;
  padding-top: 15px;
}

.sport__description {
  margin-top: 45px;
  position: relative;
  width: 70%;
  z-index: 2;
}

.sport__txt {
  color: $white;
  font-family: $content-font-family;
  font-size: 15px;
  font-weight: $fix-futura-book-weight;
  letter-spacing: 1px;
  line-height: 18px;
  padding-top: 30px;
  text-align: left;
}

.step__sport {
  color: $white;
  margin-top: 60px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.step {
  width: 219px;
  display: inline-block;
}

.light {
  opacity: 1;
}

.dark {
  opacity: .1;
}

.step__title {
  color: $white;
  font-family: $content-font-family;
  font-size: 21px;
  letter-spacing: 2px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.small-divider {
  background: $mauve;
  height: 1px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 20%;
}

.big-divider {
  background: $mauve;
  height: 5px;
  margin: auto;
  margin-top: 20px;
  width:85%;
}


.step-description {
  font-family: $content-font-family;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 16px;
  margin: auto;
  text-align: center;
  width: 70%;
}

// @import 'components/moon-timeline';
