.sport__grid {
  height: 100%;
  margin: auto;
  padding-top: 70px;
  width: 60%;
}

.sport__txt__video {
  width: 60%;
}

.sport__title {
  padding-top: 40px;
  width: 100%;
}

.sport__title__txt {
  color:$white;
  font-family: $content-font-family;
  font-size: 30px;
  text-transform: uppercase;
}

.sport__img {

}

.video__sport {
  height: 100%;
}

.sport__description {
  margin-top: 30px;
}

.sport__txt {
  color: $white;
  font-family: $content-font-family;
  text-align: left;
}

.step__sport {
  color: $white;
  display: flex;
  margin-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
}

.step {
  flex: 1;
}

.light {
  opacity: 1;
}

.dark {
  opacity: .1;
}

.step__title {
  color: $white;
  font-family: $content-font-family;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.small-divider {
  background: $mauve;
  height: 3px;
  margin: auto;
  margin-bottom: 20px;
  width: 30%;
}

.big-divider {
  background: $mauve;
  height: 6px;
  margin: auto;
  margin-top: 35px;
}


.step-description {
  font-family: $content-font-family;
  font-size: 16px;
  margin: auto;
  text-align: center;
  width: 50%;
}
