.page-suit {
  .background-text {
    background: url('../media/img/label_combi.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.page-leo {
  .background-text {
    background: url('../media/img/label_leo.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.page-suit,
.page-leo {
  .page-content {
    width: 75%;
  }


  .page-focus {
    .focus-line {
      animation: dash 1s ease-out 0s normal paused 1 forwards;
      stroke-dashoffset: 2000;
      position: relative;
      z-index: 2;
    }
    .focus-title {
      animation: fadeIn .25s ease-in 1s normal paused 1 forwards;
      opacity: 0;
      z-index: 3;
    }
    .focus-text {
      animation: fadeIn .25s ease-out 1.25s normal paused 1 forwards;
      opacity: 0;
      position: relative;
      z-index: 3;
    }
    .floor0 {
      align-items: center;
      bottom: 20vh;
      display: flex;
      position: relative;
    }

    circle[cy='5.5']{
      animation: fadeIn 0s ease-in 1s normal paused 1 forwards;
      opacity: 0;

    }








    .focus {
      font-family: $content-font-family;
      margin-top: 20vh;
      position: relative;
      text-align: center;
      width: 40%;
      &-consequent.reveal,
      &-isolant.reveal,
      &-incofortable.reveal,
      &-retentissant.reveal {
        .focus-line{
          animation-play-state: running;
        }
        .focus-title {
          animation-play-state: running;
        }
        .focus-text {
          animation-play-state: running;
        }
      }



      &:nth-child(3) {
        .focus-title,
        .focus-text {
          float: left;
          margin-left: 50%;
          position: absolute;
        }
        .focus-title {
          bottom: .3em;
          text-align: right;
        }
        .focus-text {
          top: 2em;
        }

        .focus-line {
          float: left;
        }
      }
      &:nth-child(1) {
        .focus-title,
        .focus-text {
          float: right;
          margin-right: 50%;
          position: absolute;
        }
        .focus-title {
          bottom: -.2em;
          text-align: left;

        }
        .focus-text {
          top: 2em;
        }
        .focus-line {
          float: right;
        }
      }
      &-title {
        border-bottom: 2px solid $white;
        float: left;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 2em;
        margin-bottom: 1.5em;
        position: relative;
        text-transform: uppercase;
        width: 50%;
        // &::before {
        //   background: $white;
        //   content: '';
        //   height: 2px;
        //   position: absolute;
        //   top: 1em;
        // }
      }
      &-text {
        font-size: .85em;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 2px;
        width: 50%;
        z-index: 2;

        @media screen and (min-width: 1920px){
          padding-top: 15px;
        }
      }
      &-line {
        box-sizing: border-box;
        padding: 0 1em;
        width: 50%;
      }


      &-isolant .focus-title::before {
        width: 50%;
      }
    }

    .page-illu {
      display: block;
      text-align: center;
      width: 20%;
      img {
        max-width: 100%;
      }
    }

    .floor1 {
      align-items: center;
      display: flex;
      margin: auto;
      position: relative;
      width: 80%;
      z-index: 3;

      .page-illu img {
        height: 100%;
      }
      .focus-title {
        bottom: 1.25em!important;
      }
      .focus-text {
        top: 1.75em!important;
      }
    }
  }




  .page-legend {
    animation: fadeIn .25s ease-out 3s normal paused 1 forwards;
    bottom: 15vh;
    font-family: $content-font-family;
    font-size: .9em;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.05;
    margin: auto;
    max-width: 580px;
    opacity: 0;
    position: relative;
    text-align: center;
    width: $moon-size;
    z-index: 3;
    &.reveal {
      animation-play-state: running;
    }
  }


  @keyframes dash {
    0% {
      stroke-dasharray: 2000;
    }

    100% {
      stroke-dasharray: 1000;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(1em);
    }

    100% {
      opacity: 1;
      transform: translateY(0);

    }
  }
}
