$body-text-color: #000;
$black: #020c18;
$white: #fff;


//// =======================================================================//
//   MOON TIMELINE:                                                        //
// =======================================================================//

$moon-size: 50vw;
$moon-globe-ratio: 90%;
$moon-color: #fff;
