//// =======================================================================//
//   GLOBAL COLORS                                                           //
// =======================================================================//


$black: #020c18;
$true-black: #000;
$white: #fff;
$mauve: #b61282;
$grey: #808080;
$overlay: rgba(0, 0, 0, .8);


//// =======================================================================//
//   MOON TIMELINE:                                                        //
// =======================================================================//

$moon-size: 50vw;
$moon-globe-ratio: 90%;
$moon-color: #fff;


//// =======================================================================//
//   TEXT COLORS                                                           //
// =======================================================================//

$background-text: #27303a;
$body-text-color: #000;
