//// =======================================================================//
//   FONT FAMILY                                                           //
// =======================================================================//

$body-text-font-family: 'Avenir', 'Gill Sans', 'Arial', sans-serif;
$headlines-font-family: 'Georgia', sans-serif;
$title-font-family: 'Baron Neue';
$content-font-family: 'Futura';
$status-font-family: 'Circular Air';
$fix-futura-book-weight: 200;

//// =======================================================================//
//   FONT SIZE:                                                            //
// =======================================================================//

$body-text-font-size: 1em;
$headlines-font-size: 2em;
